ul{
    list-style: none;
    padding: 0;
}

.todo-item{
    color: white;
    background-color: rgb(93, 12, 255);
    padding: 1.5rem;
    font-size: 1.6rem;
    width: 80%;
    margin: 2rem auto;
    border-radius: .5rem;   
}

.test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.task-complete{
    text-decoration: line-through;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto 0; */
    gap: 1rem;
}

.icon{
    align-items: center;
    
    /* justify-content: center; */
}

.todo-text{
    align-items: center;
    justify-content: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 1rem;
}
/* .check-icon{
     position: absolute;-+
    top: 50%;
    transform: translateY(-50%); 
} */

.edit-input{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    /* vertical-align: middle; */
}