/* .app{
  background-image: linear-gradient(to top to bottom, purple, blue);
  background: purple;
} */

.app{
  margin: 0 auto;
  background: linear-gradient(rgb(93, 12, 255), rgb(155, 0, 250));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
